* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    overflow: hidden;
}

canvas {
    display: block;
}
