* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #1a1a2e, #16213e);
    position: relative;
}

.blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.7;
    animation: float 20s ease-in-out infinite;
}

.blob:nth-child(1) {
    width: 400px;
    height: 400px;
    background: linear-gradient(45deg, #ff6b6b, #ee5a6f);
    top: -100px;
    left: -100px;
    animation-delay: 0s;
}

.blob:nth-child(2) {
    width: 500px;
    height: 500px;
    background: linear-gradient(45deg, #4ecdc4, #44a8a8);
    top: 50%;
    right: -150px;
    animation-delay: -7s;
}

.blob:nth-child(3) {
    width: 450px;
    height: 450px;
    background: linear-gradient(45deg, #a770ef, #cf8bf3);
    bottom: -150px;
    left: 30%;
    animation-delay: -14s;
}

@keyframes float {
    0%, 100% {
        transform: translate(0, 0) scale(1);
    }
    33% {
        transform: translate(50px, -50px) scale(1.1);
    }
    66% {
        transform: translate(-50px, 50px) scale(0.9);
    }
}
